<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta
	data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
	data-sly-call="${clientlib.all @ categories='footercat'}"
	data-sly-unwrap>
</meta>

<div class="footer">

	<div class="footer-upper">

		<a class="logo-footer" href="https://www.beanz.com/us/en.html" target="blank">
		<img src="${properties.fileReference}"> </a>


		<div class="div-4">
			<h2 class="footer-item-title">Site</h2>
			<div>
				<ul>


					<li><a href="https://www.beanz.com/us/en/coffee.html" target="blank">
							Shop Coffee</a></li>
					<li><a href="https://www.beanz.com/us/en/our-roasters.html" target="blank">Our
							Roasters</a></li>

					<li><a href="https://www.beanz.com/us/en/baristas-choice.html" target="blank">Barista's
							Choice</a></li>
					<li><a href="https://www.beanz.com/us/en/coffee-lowdown.html" target="blank">Coffee
							Lowdown</a></li>

					<li><a href="https://www.beanz.com/us/en/our-story.html" target="blank">
							Our Story</a></li>


				</ul>
			</div>
		</div>
		<div class="div-4">
			<h2 class="footer-item-title">Account</h2>
			<div>
				<ul>

					<li><a href="">Roasters Control</a></li>
					<li><a href="">Center</a></li>

				</ul>
			</div>
		</div>
		<div class="div-4">
			<h2 class="footer-item-title">Support</h2>
			<div>
				<ul>
					<li><a href="">Contact Us</a></li>
					<li><a href="">Returns Policy</a></li>

					<li><a href="">Promotional</a></li>
					<li><a href="">Terms and Conditions</a></li>

				</ul>
			</div>
		</div>

		<div class="div-4">
			<h2 class="footer-item-title">Follow</h2>
			<div>
				<ul>
					<li><a href="">Facebook</a></li>
					<li><a href="">Instagram</a></li>

				</ul>
			</div>

		</div>

	</div>

</div>
