<meta
	data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
	data-sly-call="${clientlib.all @ categories='footertestcat'}"
	data-sly-unwrap>
</meta>
<div class="footcon">
<div class="footimg">
<a class="logo-footer" href="https://www.beanz.com/us/en.html" target="blank" height="50px">
		<img src="${properties.fileReference}"> </a>
</div>
<div class="footcol">
<div class="footcolcolor">
				<ul>
				<h2 class="footcolhead">Site</h2>
					<li><a href="https://www.beanz.com/us/en/coffee.html" target="blank">
							Shop Coffee</a></li>
					<li><a href="https://www.beanz.com/us/en/our-roasters.html" target="blank">Our
							Roasters</a></li>

					<li><a href="https://www.beanz.com/us/en/baristas-choice.html" target="blank">Barista's
							Choice</a></li>
					<li><a href="https://www.beanz.com/us/en/coffee-lowdown.html" target="blank">Coffee
							Lowdown</a></li>

					<li><a href="https://www.beanz.com/us/en/our-story.html" target="blank">
							Our Story</a></li>


				</ul>
			</div>
            <div class="footcolcolor">
				<ul>
				<h2 class="footcolhead">Site</h2>
					<li><a href="https://www.beanz.com/us/en/coffee.html" target="blank">
							Shop Coffee</a></li>
					<li><a href="https://www.beanz.com/us/en/our-roasters.html" target="blank">Our
							Roasters</a></li>

					<li><a href="https://www.beanz.com/us/en/baristas-choice.html" target="blank">Barista's
							Choice</a></li>
					<li><a href="https://www.beanz.com/us/en/coffee-lowdown.html" target="blank">Coffee
							Lowdown</a></li>

					<li><a href="https://www.beanz.com/us/en/our-story.html" target="blank">
							Our Story</a></li>


				</ul>
			</div>
            <div class="footcolcolor">
				<ul>
				<h2 class="footcolhead">Site</h2>
					<li><a href="https://www.beanz.com/us/en/coffee.html" target="blank">
							Shop Coffee</a></li>
					<li><a href="https://www.beanz.com/us/en/our-roasters.html" target="blank">Our
							Roasters</a></li>

					<li><a href="https://www.beanz.com/us/en/baristas-choice.html" target="blank">Barista's
							Choice</a></li>
					<li><a href="https://www.beanz.com/us/en/coffee-lowdown.html" target="blank">Coffee
							Lowdown</a></li>

					<li><a href="https://www.beanz.com/us/en/our-story.html" target="blank">
							Our Story</a></li>


				</ul>
			</div>
            <div class="footcolcolor">
				<ul>
				<h2 class="footcolhead">Site</h2>
						<li><a href="https://www.beanz.com/us/en/coffee.html" target="blank">
							Shop Coffee</a></li>
					<li><a href="https://www.beanz.com/us/en/our-roasters.html" target="blank">Our
							Roasters</a></li>

					<li><a href="https://www.beanz.com/us/en/baristas-choice.html" target="blank">Barista's
							Choice</a></li>
					<li><a href="https://www.beanz.com/us/en/coffee-lowdown.html" target="blank">Coffee
							Lowdown</a></li>

					<li><a href="https://www.beanz.com/us/en/our-story.html" target="blank">
							Our Story</a></li>


				</ul>
			</div>
</div>
<div class="footcopy">
<p>© 2022 Breville USA, Inc. All rights reserved. Terms of Use Privacy Policy Cookie Policy Social Responsibility Modern Slavery Act Site Map</p>
</div>
</div>