<style>
.emailform {
	float: right;
	width: 30%;
	margin-top: 28px;
}

.textemail {
	width: 100%;
}

.emailtitle {
	width: 60%;
	float: left;
}
.emailsub{
display:inline-block;
}

.emailcontainer {
	font-size: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.5;
}
</style>

<div class="emailcontainer">

	<div class="textemail">
		<h1 class="emailtitle">${properties.jcr:title}</h1>
		<form name="register" id="register" method="POST" class="emailform">
			<input type="text" placeholder="Email address (Required)"
				name="email" value=""> <input type="Submit" name="submit"
				id="submit" value="Sign Up">
		</form>
	</div>

	<div id="rgstr" name="rgstr"></div>
	<div id="email" name="email"></div>
	
	
<div class="emailsub">
	<p>
		${properties.jcr:subtitle} <a style="color: black !important;"
			href="https://www.breville.com/us/en/legal/privacy-policy.html">
			Privacy Policy</a> and <a style="color: black !important;"
			href="https://www.beanz.com/us/en/legal/terms-of-use.html">Terms
			of Use</a>
	</p>
	</div>
</div>



<script>
	// this is the id of the form

	function loginuser() {
		var loginPopup = document.getElementById("loginPopup");

		if (loginPopup.style.display == "block") {

			loginPopup.style.display = "none";

		} else {

			loginPopup.style.display = "block"

		}

	}

	$("#register")
			.submit(
					function(e) {

						e.preventDefault(); // avoid to execute the actual submit of the form.

						var form = $(this);

						var url = "/bin/demologinPagesss";

						$
								.ajax({

									type : "POST",

									url : url,

									data : form.serialize(), // serializes the form's elements.

									success : function(data, textStatus, jqXHR) {

										if (data.status == "202") {

											alert("Login Successfull")

											window
													.open("http://localhost:4502/content/demoLoginPage/en/home.html")
										} else {
											alert("Incorrect Credentials: Please try again")
											//             location.href="http://localhost:4502/content/demoLoginPage/en/home.html"

										}

									},
									error : function(XMLHttpRequest,
											textStatus, errorThrown) {
										//write your logic that you need to perform on error

									}

								});

					});
</script>



</html>


