<sly
	data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
<sly data-sly-call="${clientlib.css @categories='emailrcat'}" /></sly>

<div class="emailcontainer">

	<div class="textemail">
		<h1 class="emailtitle">${properties.jcr:title}</h1>
		<form name="register" id="register" method="POST" class="emailform">
			<input type="text" placeholder="Email address (Required)"
				name="email" value=""> <input type="Submit" name="submit"
				id="submit" value="Sign Up">
		</form>
	</div>

<div class="emailsub">
	<p>
		${properties.jcr:subtitle} <a style="color: black !important;"
			href="https://www.breville.com/us/en/legal/privacy-policy.html">
			Privacy Policy</a> and <a style="color: black !important;"
			href="https://www.beanz.com/us/en/legal/terms-of-use.html">Terms
			of Use</a>
	</p>
	</div>
</div>



